.external-link-icon, .p-title > .title-icon {
  font-size: 10px;
  margin-bottom: 1px;
}

.p-value {
  word-break: normal;
}

.expandable-title {
  display: block;
  color:  #5CCD18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  .text {
    color:  #5CCD18 !important;
    border-bottom: 1px solid #5CCD18;
    .desc {
      color:  black !important;
      font-weight: 400 !important;
    }
  }
}

.select-container {
  padding-top: 2px;
  padding-bottom: 2px;

  .p-value {
    padding-bottom: 3px;
  }

  textarea {
    width: 100%;
  }
}

.note {
  padding-top: 4px;
  padding-bottom: 7px;
}

.nav {
  margin-top:7px;
  margin-bottom: 7px;
}

.p-btn .btn {
  margin-right: 12px;
}