.external-link-icon, .p-title > .title-icon {
  font-size: 10px;
  margin-bottom: 1px;
}

.p-value {
  word-break: normal;
}

.expandable-title {
  display: block;
  color:  #5CCD18 !important;
  font-weight: 600;
  margin-bottom: 5px;
  .text {
    color:  #5CCD18 !important;
    border-bottom: 1px solid #5CCD18;
    .desc {
      color:  black !important;
      font-weight: 400 !important;
    }
  }
}

.select-container {
  display: flex;
  align-items: center;
  padding-top: 2px;
  padding-bottom: 2px;

  .p-value {
    width: 75px;
  }
}
